<div class="container">
    <div class="row d-flex">
        <div class="col-md-6 col-lg-5 d-flex">
            <div class="img-about img d-flex align-items-stretch">
                <div class="overlay"></div>
                <div class="img d-flex align-self-stretch align-items-center" style="background-image:url(images/bg_1.png);">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
            <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section ftco-animate">
              <!--<h1 class="big">About</h1>-->
            <h2 class="mb-4" style="color:rgb(0, 0, 0);">Acerca de mi</h2>
            <p style="color:rgb(0, 0, 0);">Desarrollador web con amplios conocimientos en Nodejs y Espressjs.</p>
            <ul class="about-info mt-4 px-md-0 px-2">
                <li class="d-flex"><span>Nombre:</span> <span style="color:rgb(0, 0, 0);">Ronaldo martinez</span></li>
                <li class="d-flex"><span>Fecha de nacimiento:</span> <span style="color:rgb(0, 0, 0);">29 enero 1997</span></li>
                <li class="d-flex"><span>Dirección:</span> <span style="color:rgb(0, 0, 0);">Calle 34D 2-280</span></li>
                <li class="d-flex"><span>Correo:</span> <span style="color:rgb(0, 0, 0);">ronaldo@gmail.com</span></li>
                <li class="d-flex"><span>Telefono: </span> <span style="color:rgb(0, 0, 0);">+57-322-605-6129</span></li>
            </ul>
          </div>
        </div>
      <div class="counter-wrap ftco-animate d-flex mt-md-3">
      <div class="text">
          <p class="mb-4">
            <span class="number" data-number="20">0</span>
            <span>Projectos completados</span>
        </p>
        <p><a href="#" class="btn btn-primary py-3 px-3">Descargar Hoja de vida</a></p>
      </div>
      </div>
    </div>
</div>
</div>