<div class="home-slider  owl-carousel">
    <div class="slider-item ">
        <div class="overlay"></div>
      <div class="container">
        <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
            <div class="one-third js-fullheight order-md-last img" style="background-image:url(images/bg_1.png);">
                <div class="overlay"></div>
            </div>
            <div class="one-forth d-flex  align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <div class="text">
                  <h1 class="mb-4 mt-3">¡BIENVENIDO!</span></h1>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!--Extras-->

    <div class="slider-item ">
      <div class="overlay"></div>
    <div class="container">
      <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
          <div class="one-third js-fullheight order-md-last img" style="background-image:url(images/bg_1.png);">
              <div class="overlay"></div>
          </div>
          <div class="one-forth d-flex  align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
              <div class="text">
                  <h1 class="mb-4 mt-3">Mucho gusto, <span>Ronaldo martinez</span></h1>
                  <h2 class="mb-4" style="color:rgb(0, 0, 0);">Un desarrollador web a su servicio</h2>
                  <p><a href="#" class="btn btn-primary py-3 px-4">Contratarme</a> <a href="#" class="btn btn-white btn-outline-white py-3 px-4">Mis trabajos</a></p>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>