<div class="container">
    <div class="row justify-content-center pb-5">
  <div class="col-md-10 heading-section text-center ftco-animate">
    <h2 class="mb-4" style="color:rgb(0, 0, 0);">Resumen</h2>
    <p style="color:rgb(0, 0, 0);">Desarrollador web con amplios conocimientos en Nodejs y Espressjs.</p>
  </div>
</div>
    <div class="row">
        <div class="col-md-6">
            <div class="resume-wrap ftco-animate">
                <span class="date">2018-2022</span>
                <h2 style="color:rgb(0, 0, 0);">Tecnologo en analisis y desarrollo de sistemas de información</h2>
                <span class="position" style="color:rgb(0, 0, 0);">SENA</span>
                <p class="mt-4"></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="resume-wrap ftco-animate">
                <span class="date" style="color:rgb(0, 0, 0);">2014-2016</span>
                <h2 style="color:rgb(0, 0, 0);">Tecnico en sistemas</h2>
                <span class="position" style="color:rgb(0, 0, 0);">SENA</span>
                <p class="mt-4"></p>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center ftco-animate">
            <p><a href="#" class="btn btn-primary py-4 px-5">Descargar Hoja de vida</a></p>
        </div>
    </div>
</div>
