<div class="container">
    <a class="navbar-brand" href="index.html">Ronaldo</a>
    <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav nav ml-auto">
        <li class="nav-item"><a href="#home-section" class="nav-link"><span>Inicio</span></a></li>
        <li class="nav-item"><a href="#about-section" class="nav-link"><span>Acerca de mi</span></a></li>
        <li class="nav-item"><a href="#resume-section" class="nav-link"><span>Resumen</span></a></li>
        <li class="nav-item"><a href="#services-section" class="nav-link"><span>Servicios</span></a></li>
        <li class="nav-item"><a href="#skills-section" class="nav-link"><span>Habilidades</span></a></li>
        <li class="nav-item"><a href="#projects-section" class="nav-link"><span>Projectos</span></a></li>
        <!--<li class="nav-item"><a href="#blog-section" class="nav-link"><span>Mi Blog</span></a></li>-->
        <li class="nav-item"><a href="#contact-section" class="nav-link"><span>Contactos</span></a></li>
      </ul>
    </div>
  </div>